
<div style="text-align:left; font-size: 150%; 
margin-top: 15px; margin-right: 150px; margin-left: 150px; height: 1000px;">
    
    <br>
    About www.litecoincharts.com
    <br><br>
    <p>
        Litecoin is a peer-to-peer digital currency designed to complement it's big brother Bitcoin and act 
        as a faster, cheaper alternative. Litecoin (LTC) enables high speed transactions between anyone on the globe.  According to the Litecoin
        foundation’s website, “The network is secured by mathematics and enables individuals to secure their own finances.” In other words,
        Litecoin is not under the control of a central government or bank.The coin was founded in 2011 by an ex google engineer, Charlie Lee. 
        His mission was to minimize the slow transaction tim seen in Bitcoin. Fast forward eight years and litecoin's market cap is approaching
        $5 billion, with billions of dollars of transactions every single day. 
    </p>
    <br>
    <p>
        Litecoin charts was created with the intention of providing cryptocurrency investors, specifically litecoin enthusiasts, with the 
        latest prices, news, tools and everything in between. Whether you are new to cryptocurrency or a seasoned veteran, visit our 
        site and stay updated in the world of litecoin and cryptocurrency. Post on our issues page with any suggestions or requests you may have for the site.
        Let us know if there are features we should add, topics we should cover, trading views we should provide, or anything else.
    </p>
</div>
