<br><br>
<br><br>

<!--div style="text-align:center; font-size:100%; color:rgb(255, 255, 255); background-color: rgb(84, 74, 226) ;">
        <b style="color: rgb(84, 74, 226) ;">App Footer </b>          
        <b style="font-size:100%"></b>               
</div>

<div style="width:200px; height: 25px;text-align:left; font-size:100%; color:rgb(255, 255, 255); background-color: rgb(84, 74, 226) ;">
                © LitecoinCharts 
</div-->

<div style="position:relative;bottom:0;text-align:center; font-size:75%; color:rgb(255, 255, 255);">
        <pre>
        <a href="https://twitter.com/hashtag/litecoin?src=rela"><h2><b>Twitter</b></h2></a>              <a href=""><h2 ><b>Email</b></h2></a>               <a href="https://en.wikipedia.org/wiki/Litecoin"><h2><b>Wiki</b></h2></a>
        </pre>  
</div>