

<div style="text-align:center;
padding: 30px;
font-size: 40px;">
Peter Schiff, Recessions, and Cryptocurrency 
</div>

<br>

<p>
Peter Schiff, who famously predicted in great detail the housing bubble and crash of 2008 years before it happened, 
is back on the scene predicting another recession to come. Before the 08 Crash, Schiff wrote the New York Times best-seller "Crash Proof"
and "Crash Proof 2.0", describing the events to come/ Schiff believes the government put a band aid on the real problem after the last crash 
and only made the problem worse, and the worst is yet to come. On his podcast, Schiff said "As the economy relapses into recession, and the 
Fed has to go back to quantitative easing, the budget deficits are going to completely explode and there's not going to be demand globally 
for these dollars." Additionally, Schiff explained "You are less likely to hold the currency if it is losing value. And of course, higher 
inflation is bullish for gold because gold is an inflation hedge." Schiff is warning of a massive decline in the U.S. dollar in the 
next (inevitable) recession, and points to a more stable, non-fiat currency, gold.
</p>

<br>

<p>
According to American billionaire investor and president of the world's largest, most successful hedge fund Bridgewater Associates, the U.S. 
economy is currently in the "seventh inning". Dalio talks about the early part of the cycle where debt is used to create income and serviced 
as asset prices rise. Then comes a bubble phase where individuals and businesses extrapolate the past and borrow more because they believe 
the economy will continue to rise. The top is when banks tighten policy and interest rates hit zero percent, marking a depression. 
</p>

<br>

<p>
Cryptocurrency could be an attractive investment opportunity if inflation causes the value of fiat currency to decline, just as gold was a good investment 
after the 08 crash. In a three year period from October 2008 to October 2011, gold shot up and nearly doubled in value from approximately $800/oz to $1,600/oz 
as the US dollar was getting killed. If experts like Schiff and Dalio are correct, the looming financial melt down will likely see the current price ($1,200/oz) 
take off. This line of thought naturally needs into other non-fiat investment opportunities, such as the crypto-currency market which came falling down to 
earth early in 2018 after the bubble burst and a slew of government regulations took place.
</p>

<br>

<p>
Opportunists should also note the economic situation in Europe, which is arguable less stable than in the U.S.! If the dominoes fall into play as they 
will and people start to lose trust in their country's inflated national currency, the crypto market, which has already turned many heads in the two years, 
could see another cash infusion and historical bull run.
</p>

