<div style="text-align:center;
padding: 30px;
font-size: 50px;">
<b>Here Are The Litecoin Fees You SHould Be Aware Of </b>
</div>

<br>   
<b>Coinbase</b>
<br><br>

<p>Coinbase is widely known as an excellent starting point for novice investors. The site 
hosts several of the major market cap cryptocurrencies such as Bitcoin, Ethereum, Bitcoin 
Cash, Litecoin, and more. The good thing about Coinbase is the ease of use and transparency 
for newcomers in this space. The downside is the amount of fees you pay relative to other exchanges. 
Be aware of the selling fee, buying fee, transfer fee, exchange fee, and conversion fee on your account. 
Your buying fee will be added on to the amount of cryptocurrency you purchase, no matter what method you use. 
If you buy $1000 of Ethereum with a 1.49% fee – the total will be $1014.9. The selling fee will
be taken off the amount you sell. You must also pay a fee to transfer to a wallet outside of Coinbase.
This fee will be disclosed to you at the time of transfer. For orders over $200, Coinbase has a variable 1.49% fee. 
Lower amounts pay between $0.99 and $2.99 in transaction fees – increasing as the amount increases. P.S. It is better to not use a credit card for coin base transactions – this will increase the 1.49% variable fee to 3.99% !!
For those outside the US, be aware of the conversion fee based on your location and payment method. 
Although you should not keep a significant chunk of money on a cryptocurrency exchange, Coinbase will not 
impose a fee for this. There is no holding fee</p>

<br>          
<b>GDAX (Coinbase Pro)</b>
<br><br>

<p>GDAX is now owned by Coinbase, although it functions much differently. Many find it more complicated to
use than Coinbase, but you will pay less in fees and other deductions once you are able to navigate the 
exchange well. The downside is GDAX is more advanced and may require more trading knowledge in areas like 
limit orders, stop orders, etc.

There is no credit card on GDAX, you must use ACH bank transfer or a wire transfer. The bank transfer fees
are much lower than its relative Coinbase. GDAX charges 0 – 0.25%  compared to the 1.5 – 4% Coinbase has. 
GDAX only charges a 0.1 to 0.25 % fee for Taker Trades, not Maker Trades. For those who don’t know, a Taker
Trade is when you make a trade at market value that is completed immediately. A Maker Trade could be a stop 
limit for example, where you set the conditions of a trade in advance and wait for the condition to be met
for the trade to happen. All cryptocurrency transaction fees are paid for you on this platform.
Additionally, you can make unlimited deposits to a GDAX wallet, but there is a withdrawal limit set at $10,000 
per day for any high rollers out there.</p>
<br>
<b>Binance</b>
<br><br>
<p> Before trading, know that Binance only supports cryptocurrency deposits and withdrawals. In other words, don’t expect 
that you will be able to deposit USD or your national currency prior to trading on the platform.  A flat 0.1% transaction
fee is applied to all crypto-to-crypto transactions on the Binance platform. This fee will be applied to the end
currency, so a cut of ETH will be taken in an BTC -> ETC transaction. An interesting way to reduce transaction fees on 
Binance is by simply holding BNB (Binance currency) in your account. You must hold enough BNB to cover the cost of 
the fee for this to work. In this case, you will only pay 50% of the fee, which will be taken out of your BNB wallet
(You will pay a 0.05% fee instead). There is no spending limit on binance, however like Coinbase and GDAX there is 
a withdrawal fee. There are Binance withdrawal fees which vary depending on the coin. There is a 0.01 ETH fee and a
0.0005 BTC fee. Also, the withdrawal limit is 2 BTC per 24 hours.  </p>

