<div style="text-align:center;
padding: 30px;
font-size: 50px;">
<b>Biggest Ways Crypto Taxes Could Affect You </b>
</div>

<br>

<b>1. Cryptocurrency is viewed as property by the government. </b>

<br><br>

<p>
In the eyes of U.S. Law, cryptocurrency is viewed as property. Therefore investors in cryptocurrencies 
like Bitcoin, Litecoin, etc. will be taxed the same way as real estate investors (for example) 
in terms of short and long term capital gains on any profit. This may actually benefit those with
long term holdings, giving them a 15%  tax cut on profits. This would have been 25% if the
government decided to view it as income tax. The official tax dollar amount will be based on 
the market price on trade dates. For example, if Investor A buys $50,000 OF BTC on June 1,
2018 and sells it all on July 2, 2019 for $100,000, he will be taxed $15 of the $50,000 
profit, or $7500.  According to IRS guidelines put forth, gains from gifted cryptocurrency 
as well as mining profits are also taxable events. On the bright side, in some cases Investors 
can lower their tax bill if they happen to take a loss on their investment. 
</p> 

<br>

<b>2. Reporting earnings is on you</b>

<br><br>

<p>
Unlike a brokerage firm or investment bank managing traditional financial assets including stocks,
bonds, etc, crypto exchanges holding your money will not send you a 1099 form. Reporting your 
earnings to the government is your responsibility. An exception to this is GDAX users who made
over $20,000 profit, for whom Coinbase will send a 1099 tax form to fill out. For the majority
of investors, it is solely their responsibly to track the buy date, buy price, sell date, and
sell price for ALL crypto transactions they make in a given year. This includes everything 
from long term buy and sells, medium term trades, and day trading, regardless of profit or 
loss. The IRS has somewhat vague guidelines for how to measure price, but they insist that it 
is done in a reasonable manner. Investors could take an average price based on several major 
exchanges in order to report market prices of their trades.   
</p> 

<br>

<b> 3. Long term vs Short term Gains </b>

<br><br>

<p>
There is an important distinction between long and short term cryptocurrency gains. A buy to sell
period of less than one year is considered short term, and short term gains are taxed at a much 
higher rate then trades spaced out over a year. Short term gains are taxed as normal income tax.
For example, if you are a single individual making $50,000 / year, you are in the 25% income
tax bracket and 25% of your short term profit goes to tax. If you make $100,000 / year the tax
will be 28%, etc. Marital tax rates also apply to cryptocurrency. The long term cryptocurrency tax rate 
is typically 15%. The two exceptions to this are if you are in the highest income bracket (39.6%) or
the two lowest (10 or 15%). If these are your normal income tax brackets your long term capital gains tax 
will instead be 20% (highest) or 0% (lowest).
</p>

<br>

<p>
With that said, be sure to follow IRS guidelines when reporting cryptocurrency profit/losses. 
Keep the short and long term tax differences in mind when planning and executing trades to get
the most bang for your buck. Although it may seem tedious, it is crucial to stay on top of your
tax reporting on a regular basis. Potential fines of $250,000 and five year prison sentence for
tax evasion are the extreme repercussions of failing to follow U.S. law surrounding cryptocurrency investment. 
</p>

