<div style="text-align:center;
padding: 30px;
font-size: 50px;">
<b>What is Litecoin? Crytpocurrency Explained </b>
</div>

<br>

<p>Litecoin, or “LTC”, is a peer-to-peer digital “cryptocurrency” designed to complement the more 
notorious Bitcoin and act as a faster, cheaper alternative. LTC enables high speed transactions 
between anyone on the globe.  According to the Litecoin foundation’s website, “The network is 
secured by mathematics and enables individuals to secure their own finances.” In other, the 
transfer of currency is defined by a cryptographic protocol and is not under the control of a 
central government or bank.</p>
<br>
<p>The coin was founded in 2011 by an ex google engineer, Charlie Lee. His mission was to minimize 
the  “block confirmation time”, in other words transaction time, found in Bitcoin. At the time, 
Bitcoin took 10 minutes. Lee reduced this confirmation time by a factor of 4 to 2.5 minutes. 
The Litecoin network generates a “block” or entry in an anonymous ledger in 2.5 minutes for all 
recent LTC transactions. A block is verified by mining software run by Litecoin “miners” or 
people using processing power on their local computers (typically a multitude of GPUs or other 
specialized hardware) There is a reward of 50 LTC when a miner verifies a block. This reward 
will be reduced over time. Litecoin can handle more transactions then Bitcoin because of the 
shorter block generation time. Additionally, it costs merely 1/1000 of a LTC to process a 
transaction. This is 1/50 the cost of Bitcoin. </p>
<br>
<p>As of October 2018 there were 58 million LTC in circulation with a future maximum supply capped
at 84 million LTC, with over 14,000 new coins being mined and verified every day. The limited
supply of Litecoin and other cryptocurrencies make hyperinflation sometimes seen in fiat 
currencies impossible in these crypto coins. Governments in control of fiat currencies can
manipulate the value of these currencies through quantitative easing, inflation, and other
techniques. This cannot be done to Litecoin.  Demand for Litecoin and cryptocurrencies in
general derives from the desire for centralized currency separate from national governments
and banks. </p>
<br>
<p>During the cryptocurrency bubble, Litecoin saw its value sky rocket 8000% from the previous 
year to a peak of $360 in December of 2017 and fall back with many other coins to its current 
price (10/2018) of just over $50. For the valuation of Litecoin to increase, investors will 
need to see a growing user base as well as some stability in terms of legislation around the 
coin from country to country. The U.S. has begun to address cryptocurrency policy, introducing
new tax law in 2017, but the blockchain technology and crypto has a way to go in terms of 
legislation. Additionally, Litecoin and other cryptocurrencies still face the hurdle of 
adoption – it still has an estimated user base of less than 100,000-200,000.</p>
