<div style="text-align:center; padding: 30px; font-size: 50px;">
<b>7 Things You Need To Know About The Abra Wallet for Crypto</b>
</div>

<br>

<p>
1. Abra is the only wallet that will allow you to invest in 25 crypto currencies in one place. 
This includes but is not limited to Litecoin, Bitcoin, Ethereum, Ripple, BitcoinCash, OmiseGO,
and NEO.
</p>

<br>

<p>
2. This wallet is ideal for Litecoin investors. Abra supports direct LTC deposits and 
withdrawals. This allows users to easily make investments from Litecoin into any other crypto 
asset and vice versa. Litecoin accounts for a majority of Abra’s trade volume. 
</p>

<br>

<p>
3. In most cases you don’t need to link your bank account to Abra. In the USA, users can purchase
crypto with their American Express Card. Just keep in mind that a 4% fee of the transaction
amount is applied. If you are in the Philippines, you may be able to purchase crypto using 
cash through an Abra Teller. 
</p>

<br>

<p>
4. No matter where you are in the world, Abra is most likely the wallet for you. The wallet 
supports over 50 fiat currencies to go along with the 25 cryptocurrencies supported on the 
platform. Access funds in any of these currencies through the free Abra mobile app. 
</p>

<br>

<p>
5. This company is moving the ball forward. In the Phillipines, Abra has implemented a “teller 
network”. These Tellers, for example a convenience store, process cash transactions which 
allow users to add or withdraw dash from their Abra wallet. They collect a 1.5% fee for their
service. This network helps to remove a bank account from the equation.
</p>
 
<br>

<p>
6. Abra is a completely non-custodial service. This means neither Abra of the Abra Tellers have
custody of anyone’s funds. In other words, the individual user is the only one controlling 
their currency. A transaction is simply a peer to peer swap of paper cash in exchange for 
digital cash. 
</p>

<br>

<p>
7. The Abra Wallet is being built on Litecoin. The Abra team has publicly announced that 
Litecoin will be the primary investment class for the platform. This speaks volumes and is
very rare in this space – nearly every major wallet or exchange has chosen Bitcoin as the
primary asset class in the past. The team made this decision because of the security, 
safety, scalability, and low fees that Litecoin has.
</p>
