<div style="text-align:center;
padding: 30px;
font-size: 50px;">
<b>Best Litecoin Wallets For Average Investors</b>
</div>

<br>

<b>Ledger Nano S</b>

<br><br>

<p>
The Ledger Nano S is a popular multicurrency hardware wallet – currently priced at $99.99. It is
built around a “secure chip” and a safe bet to secure over 30 cryptocurrencies including Litecoin,
Bitcoin, Ethereum, Ethereum Classic, and more. According to ledger.com it is the only hardware
wallet equipped with a custom operating system on its smartcard chip – the same type of chip 
used to protect biometric data on passports and credit cards. The custom operating system BOLOS
enables Ledger wallets to offer a combination of sophisticated security and a user friendly experience.        
This wallet allows users to send and receive cryptocurrency and simultaneously manage multiple addresses
for different currencies from the same device. There is a built-in display to review and confirm transactions 
– which the user can access through physical buttons on the device. Users can also back up and restore 
their data on any Ledger device through a 24-word recovery phrase.     
</p>

<br>

<p>
In terms of security, a PIN code that is established during initialization allows access to the device.
Additionally, the private keys you use to store your crypto are never known by ledger or a third party. 
Ledger hosts a malware proof secure environment where crypto secrets are never exposed.
</p>

<br>

<b>Exodus (Desktop Wallet)</b>

<br><br>

<p>
Exodus is a free desktop software wallet, portfolio, and exchange for cryptocurrency assets that can
be installed on Mac, Windows, and Linux. A distinct aspect of Exodus is that it is designed for people 
that may be new to crypto exchanges. It hides some of the complicated, technicalities other exchanges display
in order to simplify the environment for users.  Customers rave that Exodus is one of the easiest software 
wallets to use and enjoy customer service to the tune of over 100 technical support articles on the exodus website. 
Exodus gives users a personalized look with many different style choices. According to their website, the 
products mission is to “Remove the geek requirement to use cryptocurrency and make design a priority”.
A downside for some potential customers may be the fact that there is no two-factor authentication. 
Exodus is less secure than a hardware wallet like Ledger but more secure than web-based wallets. The
wallet features a standard 12-word pass phrase. Unfortunately, if you lose this phrase and your computer 
breaks or is stolen, you won’t be able to access your Exodus wallet. 
</p>

<br>

<b>Trezor (Hardware Wallet) </b>

<br><br>

<p>
From the Czech Republic company SatoshiLabs, Trezor was the world’s first hardware wallet, supporting 
storage of Bitcoin, Litecoin, Ethereum, Dogecoin, Zcash, Dash, Ethereum Classic, and more. It possesses 
a small LED screen. The device is accessed through a randomly generated 9 digit pin and restored using 
a 24 word recovery seed. The $99 price tag may be out of reach for those on a budget, but the value 
will be returned in terms of security for those who do purchase it. Trezor is a small, key-sized
device that connects to the user’s computer through a USB port. It stores your Bitcoin and 
cryptocurrency private keys offline and signs all transactions. It can be safely used even on
a malware infected computer. The PIN code the users chooses is required before spending any 
crypto. 
</p>

<br>

<p>
Trezor allows you to confirm that you’re sending to the intended recipient, but this does not prevent
against phishing attacks. The physical buttons the user must interact with to operate the wallet ensure 
that a hacker can’t automatically hack and send a transaction from your device. A physical button must
also be physically pressed to confirm each outgoing transaction. 
</p>
