<div style="text-align:center;
padding: 30px;
font-size: 50px;">
<b>The Difference Between Bitcoin and Litecoin</b>
</div>

<br>
<b>1 - Origin Story</b>
<br><br>
<p>
The origin and founding of Bitcoin has never been factually proven and to this day remains a 
topic of debate, but the story most often told involves an individual by the name of “Satoshi
Nakamoto”. Satoshi Nakamoto has never been discovered, leading many to believe the name is a
pseudonym. Nakamoto allegedly designed the bitcoin protocol in 2008 and launched it in 2009,
during the greatest U.S. financial collapse since the Great Depression. Satoshi mined the
first bitcoin block of all time on January 3, 2009 with a 50 BTC reward. Programmer Hal 
Finney was an early prominent Bitcoin contributor and receiver of the first BTC transaction (from Nakamoto). Other prominent figures were Wei Dei and Nick Szabo – both founders of prior electronic payment methods. Nakamoto essentially handed over Bitcoin to Gavin Andresen, who became the lead developer at the Bitcoin Foundation, and disappeared from the public view.
Litecoin, on the other hand, has a very clear founding story with little to no confusion as 
to the factual accuracy. Litecoin was created by an ex-Google engineer and Coinbase Engineering Director Charlie Lee. Lee was aiming to create a compliment to the dominant cryptocurrency Bitcoin by providing decreased block generation time and faster transactions. Litecoin was a fork of the Bitcoin Core client and went live on October 13, 2011. In 2013 it reached a $1 billion market cap.
</p>
<br>
<b>2 - Coin Limit</b>
<br><br>
<p>
Both Bitcoin and Litecoin have a total coin limit. Bitcoin’s max supply is 21 million coins
whereas Litecoin can have up to 84 million coins. Technically, this difference has little to
no impact in the coin’s actual value because both BTC and LTC can be divided into millionths
of units (unlike a fiat currency like the U.S. dollar) – meaning the number of coin’s that
exist do not matter so much. The 21 vs 84 number may have a psychological impact on 
investors, however. It is possible that novice investors would be attracted to the lower price of Litecoin and like the idea of purchasing coins in entire units. On the other end, wealthier investors may like the much higher price of Bitcoin. The bottom line is that both currencies have a limited supply which makes these coins inflation-proof and immune to certain techniques that are used on other currencies (think quantitative easing) to alter the value. 
</p>
<br>
<p>
<b>3 - Transaction speed / Mining Time</b>
<br><br>
According to Charlie Lee, one of the main motivations for creating Litecoin was to improve upon
the “block generation time” aka transaction speed that exists in Bitcoin. On average, the
Bitcoin network takes 10 minutes to confirm a transaction. This is the same amount of time 
that it takes the miners to mine a block. In other words, every transaction must be confirmed 
by a miner, who in return receives a reward for the computation power the block generation 
took. Litecoin was able to improve upon this and lower its average block generation time to
2.5 minutes. Theoretically, this gives Litecoin an advantage because its transactions will be
much faster and better suited for the real time commerce we are used to in the digital era. 
Merchants do have the option to accept payment in BTC or LTC without the confirmation delay,
although the tradeoff is a less secure transaction. 
</p>
<br>
<b>4 - Proof of Work Algorithms </b>
<br><br>
<p>
Both coins use a mathematical “proof of work” algorithms as the core of the coin mining process,
however there is a difference in the algorithms. Bitcoin uses the older “SHA-256” algorithm,
Litecoin uses the newer “Scrypt” algorithm. The SHA-256 is a more complex algorithm that 
generally requires more computation power and advanced hardware (notably ASIC) to mine
effectively. Typically a group of miners or more established miner, as opposed to an 
average individual miner, would have the hardware and computing power available to effectively
mine Bitcoin using the SHA-256 algorithm. The Scrypt algorithm, on the other hand, requires 
less computation capacity and is more suited for individuals looking to mine cryptocurrency
on their local machine’s CPU or GPU. While SHA-256 requires gigahashes-per-second hash rates 
mine, Scrypt merely requires kilohashes or megahashes-per-second. In other words, SHA-256 
requires a ~100,000x faster hash/mining rate to be competitive!  
</p>
